html, body {
    margin: 0;
    padding: 0;
    background: #0D6EFD;
    font-family: Poppins;
    overflow-x: hidden;
}   
.spacer {
    height: 10vh;

}

.br1 {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

/* navbar */

/* helper */

.hide-desktop {
    display: none;
}

.navigation {
    position:absolute;
    background: transparent;
    width: 100vw;
    z-index: 10;
    border-bottom: 1px solid rgba(255,255,255,.3);

    overflow: hidden;
}

.nav-container {
    height: 8vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30px 1fr auto 30px;
}

.navigation .logo {
    grid-column: 2/3;
    display: grid;
    align-items: center;
}   

.navigation .logo h4{
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 0px;
    color: #0D6EFD;
    margin: 0;
    padding: 0;
}

.navigation .menu {
    list-style: none;
    margin: 0;
    padding: 0;

    grid-column: 3/4;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: end;
    grid-auto-columns: 120px;
}

.navigation .menu li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.navigation .menu li a:hover {
    color: #0D6EFD;
    cursor: pointer;
}

/* carousel */

.carousel-item {
    height: 70vh;
    
    background: #212529;
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    overflow: hidden;
}

.carousel-control-prev, .carousel-control-next, .carousel-indicators {
    display: none;
}

.container.carousel-slide {
    position: absolute;
    height: 70vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item h1 {
    font-weight: 500;
}

.carousel-item p {
    font-weight: 300;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .8;
}

.btn.btn-primary.button1 {
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 5px;
}

/* benefits */


.benefits {
    background: #0D6EFD;
    overflow: hidden;
}
.benefits-item {
    padding: 2rem;
}

.benefits h2 {
    color: white;
    
}
.benefits h3 {
    color: white;
    
}
.benefits p {
    color: whitesmoke;
    font-weight: 300;
}

/* services */

.services {
    background: white;
    overflow: hidden;
}

.title {
    height: 30vh;
}

.title h2{
   text-align: center;
   font-weight: 500;
   color: #0D6EFD;
}

.title p{
    text-align: center;
}

.serviceItems {
    padding: 1rem;
    margin: 0;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: solid 1px #0D6EFD;
}

.icon-container {
    margin: 1rem auto;
    display: inline-block;
    text-align: center;
    background: #0D6EFD;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.serviceItems i{
    display: block;
    color: white;
    line-height: 75px;
    font-size: 22.5px;
}

.serviceItems h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.serviceItems p {
    text-align: justify;
    padding: 0 1rem;
}

.btn.btn-outline-primary.button2 {
    padding: 10px 20px;
    display: block;
    margin: 2rem auto 1rem auto;
}
/* about */

.about {
    overflow: hidden;
}

.about-img {
    height: 40vh;
    background-image: url(../img/About.jpg);
    
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-info {
    background-color: #0D6EFD;
    padding: 4rem;
}

.about-info h2 {
    color: white;
}

.about p {
    color: white;
    text-align: justify;
}

/* projects */

.projects {
    background: white;
    overflow: hidden;
}

.projects .title {
    height: 30vh;
}

.projects .title h2{
    color: #0D6EFD;
}

.project-items {
    margin-bottom: 2rem;
}   

.project-items img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    margin-bottom: 0rem;

    -webkit-box-shadow: 2px 5px 10px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 5px 10px -2px rgba(0,0,0,0.4);
    box-shadow: 2px 5px 10px -2px rgba(0,0,0,0.4);
}   

.container1 {
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

.overlay {
    margin: auto;
    margin-bottom: 0rem;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0D6EFD;
}

.container1:hover .overlay {
    opacity: 1;
  }
  
  .text a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* cta */

.cta {
    
    background-image: url(../img/CTA.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cta-item {
    height: 40vh; 
}

.cta h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
}

.cta p {
    text-align: center;
    margin-bottom: 1rem;
    color: white; 
}

/* contact */

.contact {
    background: white;
    overflow: hidden;
}
 
.contact-maps {
    height: 60vh;
    background-image:url(../img/Map.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.contact-form {
    margin: 50px;
}

.btn.btn-primary.button5 {
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 5px;
}

/* footer */
.footer {
    background-color: #0D6EFD;
    color: white;
    padding: 2rem;
    text-align: center;
}

.footer-hide {
    display: none;
}

.footer ul li {
    
   list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer p {
    margin-bottom: 5px;
    font-weight: 300;

}

.footer i {
    font-size: 2rem;
    margin: 1rem 1rem 0 0;
}